{% extends 'base.html' %}
{% load setclass_rm_autocomplete %}
{% load setclass %}
{% block pagename %}Sign Up{% endblock pagename %}


{% block content %}
<form method='post' class="pa4 black-80 measure center">
  <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
    <legend class="f4 fw6 ph0 mh0">Sign Up</legend>
  {% csrf_token %}
  <div class='mt3'>
    <label for='username' class="db fw6 lh-copy f6">Username</label>
      {{ form.username |setclass:'b pa2 input-reset ba bg-transparent hover-bg-white w-100 mb2' }}
      {% for error in form.username.errors %}
        <small id="error" class="f6 black-60 db mv2">
          {{ error }}
        </small>
      {% endfor %}
  </div>
  <div class='mt3'>
    <label for='id_password1' class="db fw6 lh-copy f6">Password</label>
      {{ form.password1|setclass_rm_autocomplete:'b pa2 input-reset ba bg-transparent hover-bg-white w-100 mb2' }}
      {% for error in form.password1.errors %}
        <small id="error" class="f6 black-60 db mv2">
          {{ error }}
        </small>
      {% endfor %}
  </div>
  <div class='mt3'>
    <label for='id_password2' class="db fw6 lh-copy f6">Password Confirmation</label>
      {{ form.password2|setclass_rm_autocomplete:'b pa2 input-reset ba bg-transparent hover-bg-white w-100 mb2' }}
      {% for error in form.password2.errors %}
        <small id="error" class="f6 black-60 db mv2">
          {{ error }}
        </small>
      {% endfor %}
  </div>
  <div class="">
    <input class="b mt2 ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
      id='submit_button' type="submit" value="Sign Up">
  </div>
</form>
{% endblock content %}
