{% extends 'base.html' %}
{% load static %}
{% load setclass %}

{% block pagename %}Write{% endblock pagename %}


{% block content %}
<form method='post' class="pa4 black-80 measure center">
  <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
    <legend class="f4 fw6 ph0 mh0">Write a note</legend>
  {% csrf_token %}
  <div class='mt3'>
    <label for='receiver' class="db fw6 lh-copy f6">Receiver</label>
      {{ form.receiver | setclass:'b pa2 input-reset ba bg-transparent hover-bg-white w-100 mb2' }}
      {% for error in field.errors %}
        <small id="name-desc" class="f6 black-60 db mv2">
          {{ error }}
        </small>
      {% endfor %}
  </div>
  <div class='mt3'>
    <label for='id_content' class="db fw6 lh-copy f6">Content</label>
      {{ form.content | setclass:'db border-box w-100 measure ba b--white-40 pa2 mb2'}}
      {% for error in field.errors %}
        <small id="name-desc" class="f6 black-60 db mv2">
          {{ error }}
        </small>
      {% endfor %}
  </div>
  <div class="">
    <input class="b mt2 ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
      id='send_button' type="submit" value="Send">
  </div>
</form>
{% endblock content %}
